name: tests

on: ["push", "pull_request"]

jobs:
    build-static:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - name: Run tests directly
          run: cargo test  -vv --features="static"

    build-shared:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - name: Run tests directly
          run: cargo test -vv

    external-static:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - uses: conda-incubator/setup-miniconda@v3
        - name: Run tests with external dependencies
          run: |
            conda install dftd3-python -c conda-forge
            export DFTD3_DIR=$(dirname $(dirname `which python`))/lib
            cargo test -vv --features="static"

    external-shared:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - uses: conda-incubator/setup-miniconda@v3
        - name: Run tests with external dependencies
          run: |
            conda install dftd3-python -c conda-forge
            export DFTD3_DIR=$(dirname $(dirname `which python`))/lib
            cargo test -vv
